// **************************************************
// Reset Password Module
// **************************************************

@import '../../../scss/import';

.reset-password-module {
	width: 100%;

	// ##################################################

	&__row {
		width: 100%;
		max-width: 450px;
		display: grid;
		grid-gap: 24px;
	}

	// ##################################################

	.form-component {
		&__submit {
			.btn {
				width: 100%;
			}
		}
	}

	// ##################################################

	&__body {
		display: grid;
		grid-gap: 24px;
	}
}
