// **************************************************
// Language Form
// **************************************************

@import '../../../scss/import';

.language-form {
	position: relative;
	width: 100%;
	max-width: 450px;
	margin: 40px auto;
	display: grid;
	grid-gap: 26px;

	[data-component^='mod-'] & {
		max-width: 100%;
	}

	// ##################################################

	&__button {
		margin-top: 6px;
		position: relative;
		z-index: 1;
	}

	// ##################################################

	.dropdown.is-open {
		position: relative;
		z-index: 9;
	}
}
