// **************************************************
// Login Module
// **************************************************

@import '../../../scss/import';

.login-module {
	width: 100%;

	// ##################################################

	&__row {
		width: 100%;
		max-width: 450px;
		display: grid;
		grid-gap: 24px;
	}

	// ##################################################

	.form-component {
		&__submit {
			.btn {
				width: 100%;
			}
		}
	}

	// ##################################################

	&__body {
		display: grid;
		grid-gap: 24px;
	}

	// ##################################################

	&__buttons {
		display: flex;
		gap: 24px;
		border-top: 0.5px solid var(--color-gray-200);
		border-bottom: 0.5px solid var(--color-gray-200);
		padding: 24px 0;

		// ##################################################

		.btn {
			flex: 1;

			// ##################################################

			&__icon {
				img {
					width: 20px;
					height: 20px;
				}
			}
		}
	}

	// ##################################################

	&__footer {
		display: grid;
		grid-gap: 16px;

		&-title {
			letter-spacing: 0;
		}
	}
}
