//**********************************************************
// Purchase process info 01
//**********************************************************

@import '../../../scss/import';

.purchase-process {
	&__row {
		display: grid;
		grid-template-columns: 49.33% 1fr;
		grid-gap: 0 10%;
		padding-top: 30px;

		// Tablet L and Down
		@media #{$breakpoint-md-down} {
			grid-template-columns: 1fr 420px;
			grid-gap: 40px;
		}

		// Tablet P and Down
		@media #{$breakpoint-sm-down} {
			grid-template-columns: 1fr;
			padding-top: 16px;
		}
	}

	// ##################################################

	&__footer {
		margin-top: 80px;

		// Tablet P and Down
		@media #{$breakpoint-sm-down} {
			display: none;
		}
	}

	// ##################################################

	&__success {
		&-header {
			display: grid;
			grid-gap: 4px;
		}

		// ##################################################

		&-info {
			box-shadow: var(--shadow-soft);
			display: flex;
			align-items: center;
			padding: 16px;
			gap: 8px;

			.icon {
				flex-shrink: 0;
			}
		}

		&-footer {
			.btn {
				width: 100%;
			}
		}
	}

	// ##################################################

	&__summary {
		display: grid;
		grid-gap: 24px;
	}

	// ##################################################

	.cart-view {
		margin-top: -6px;

		// ##################################################

		&__item {
			&:first-child {
				border-top: 0;
			}

			&:last-child {
				padding-bottom: 0;
			}
		}
	}

	&:has(.account-access-buttons) {
		.purchase-process__indicator {
			display: none;
		}
	}

	&.is-guest-continued {
		.purchase-process__indicator {
			display: block;
		}
	}
}
