// **************************************************
// Radio Button Group
// **************************************************

@import '../../../scss/import';

.radio-button-group {
	// ##################################################

	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 12px 20px;
	}

	// ##################################################

	&--horizontal {
		.radio-button-group__list {
			grid-gap: 20px;
			flex-direction: column;
		}
	}

	// ##################################################

	.radio-button {
		.fv-plugins-message-container,
		.validation-message {
			display: none;
		}
	}

	// ##################################################

	.fv-plugins-message-container,
	.validation-message {
		display: none;
		margin-top: 0;
		font-size: 12px;
		font-weight: 500;
	}

	&.failed {
		.fv-plugins-message-container.group-error,
		.validation-message {
			display: block;
			margin-top: 8px;
		}

		// ##################################################

		.radio-button__label::before {
			border-color: var(--color-validation-failed);
		}
	}
}
