//**********************************************************
// CTA Module
//**********************************************************

@import '../../../scss/import';

.cta-module {
	min-height: 555px;
	position: relative;
	display: flex;
	align-items: flex-end;
	overflow: hidden;

	// Tablet P and down
	@media #{$breakpoint-sm-down} {
		min-height: 450px;
		padding-top: 140px;
	}

	// ##################################################

	&__image {
		// ##################################################
		// Overlay

		&::after {
			@extend %content;
			background: linear-gradient(90deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 100%);
			z-index: 3;
		}

		// ##################################################

		img {
			// Tablet L and up
			@media #{$breakpoint-md-up} {
				height: 110%;
				top: -10%;
			}
		}
	}

	// ##################################################

	&__content {
		position: relative;
		max-width: 690px;
		width: 100%;
		padding: 102px 0 48px 24px;

		// Desktop and Up
		@media (min-width: 3800px) {
			padding-left: 0;
			max-width: 800px;
		}

		// Tablet P and down
		@media #{$breakpoint-sm-down} {
			max-width: 100%;
			padding: 90px 0 35px 0;
		}

		// Mobile
		@media #{$breakpoint-xs-only} {
			padding: 35px 0 20px;
		}

		// ##################################################

		&-inner {
			max-width: 520px;
			width: 100%;
			display: grid;
			grid-gap: 12px;
			justify-items: flex-start;
			color: var(--color-white);
			position: relative;
			z-index: 3;
		}

		// ##################################################

		.btn {
			margin-top: 12px;
		}

		// ##################################################

		.title {
			color: var(--color-white);
		}

		// ##################################################
		// Blur Effect
		&::after,
		&::before {
			@extend %content;
			left: initial;
			top: 0;
			right: 4%;
			width: var(--left-distance, 0px);
			height: 113%;
			clip-path: polygon(0% 0%, 100% 22.5%, 86.7% 100%, 0% 100%);

			// Tablet P and down
			@media #{$breakpoint-sm-down} {
				right: 0;
			}

			// Mobile
			@media #{$breakpoint-xs-only} {
				clip-path: none;
				right: -20px;
				width: 100vw;
			}
		}

		// ##################################################

		&::before {
			background: rgba(237, 28, 36, 0.5);
			backdrop-filter: blur(10px) saturate(120%);
			-webkit-backdrop-filter: blur(10px) saturate(120%);
			z-index: 1;
		}

		// ##################################################

		&::after {
			background: var(--color-red-500);
			mix-blend-mode: multiply;
		}
	}

	// ##################################################

	&__pattern {
		position: absolute;
		z-index: 3;
		right: 0;
		top: 0;
		width: 618px;
		pointer-events: none;
		transform: translate(58%, -8%);
		transform-origin: bottom right;

		// Small height
		@media (min-width: 1300px) and (max-height: 900px) {
			width: 500px;
		}

		// Small desktop and down
		@media #{$breakpoint-lg-down} {
			width: 500px;
		}

		// Tablet L and down
		@media #{$breakpoint-md-down} {
			width: 400px;
		}

		// Tablet P and down
		@media #{$breakpoint-sm-down} {
			width: 150px;
		}

		// ##################################################

		.pattern-animation {
			width: 100%;
			height: 100%;
		}
	}
}
