@import '../../../scss/import';

.help-slider {
	overflow: hidden;

	// ##################################################

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 0 20px;

		// Tablet P and down
		@media #{$breakpoint-sm-down} {
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
		}

		.help-slider__title,
		.slider-nav {
			margin-bottom: 48px;

			// Tablet P and down
			@media #{$breakpoint-sm-down} {
				margin-bottom: 20px;
			}
		}

		// ##################################################

		.slider-nav {
			margin-left: auto;
		}
	}

	// ##################################################

	&__title {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 20px;
	}

	// ##################################################

	.swiper {
		padding-bottom: 10px;

		// Tablet P and up
		@media #{$breakpoint-sm-up} {
			overflow: visible;
		}
	}

	// ##################################################

	.swiper-slide {
		height: auto;

		.help-card {
			height: 100%;
		}
	}
}
