// **************************************************
// Date Picker Single
// **************************************************

@import '../../../scss/import';

.date-picker-single {
	width: 100%;
	position: relative;
	margin: 0 auto;
	max-width: 1040px;

	// Tablet P and down
	@media #{$breakpoint-sm-down} {
		max-width: 100%;
	}

	&__row {
		display: grid;
		grid-template-columns: repeat(3, minmax(0, 1fr));
		grid-gap: 20px;
		align-items: flex-end;

		// Tablet P and down
		@media #{$breakpoint-sm-down} {
			grid-template-columns: 1fr;
			grid-gap: 8px;
		}
	}

	.flatpickr-input {
		position: absolute;
		opacity: 0;
	}
}

.flatpickr-current-month {
	font-size: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
	line-height: 1;
}
