// **************************************************
// Forgot Password Module
// **************************************************

@import '../../../scss/import';

.forgot-password-module {
	width: 100%;

	// ##################################################

	&__row {
		width: 100%;
		max-width: 450px;
		display: grid;
		grid-gap: 24px;
	}

	// ##################################################

	.form-component {
		&__submit {
			.btn {
				width: 100%;
			}
		}
	}

	// ##################################################

	&__body {
		display: grid;
		grid-gap: 24px;
	}
}

.sc-forgot-password-module {
	min-height: calc(100vh - var(--header-height, 0px));
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
