// **************************************************
// Site Header
// **************************************************

@import '../../../scss/import';

// Style
.header-main {
	width: 100%;
	box-sizing: border-box;
	background-color: $cgp_white;
	// transition: 0.2s;
	z-index: $zindex_header;
	position: fixed;
	top: 0;
	left: 0;

	// stylelint-disable-next-line
	.#{$class_open_search} &,
	.#{$class_body_scroll_lock} & {
		padding-right: var(--scroll-width, 0px);
	}

	&__top-bar {
		background-color: $cgp_red_500;
		color: $cgp_white;
		font-size: 12px;
		font-weight: 500;
		min-height: 30px;
		padding: 4px 0;
		display: flex;
		align-items: center;
		z-index: 12;
		position: relative;

		@media #{$breakpoint-sm-down} {
			text-align: center;
			font-size: 10px;
			min-height: 24px;
		}

		&__inner {
			display: flex;
			gap: 20px;
			justify-content: space-between;

			@media #{$breakpoint-sm-down} {
				flex-direction: column;
				gap: 4px;
			}
		}

		&__right {
			display: flex;
			gap: 8px;
			flex-wrap: wrap;
			flex-shrink: 0;

			@media #{$breakpoint-sm-down} {
				display: none;
			}
		}

		&__link {
			color: $cgp_white;
			font-size: 12px;
			font-weight: 500;
			display: inline-flex;
			align-items: center;
			gap: 4px;

			&:after {
				content: '•';
				margin-left: 4px;
			}

			&:hover {
				opacity: 0.8;
			}
		}
	}

	// ##################################################

	&__inner {
		height: 68px;
		padding: 8px 0;
		display: grid;
		grid-template-columns: 1fr 666px 1fr;
		grid-gap: 20px;
		align-items: center;

		@media #{$breakpoint-md-down} {
			grid-template-columns: 1fr 3fr 1fr;
		}

		@media #{$breakpoint-sm-down} {
			height: 60px;
			grid-template-columns: auto 1fr;
			padding-right: 48px;
			position: relative;

			&:before {
				content: '';
				background-color: $cgp_white;
				inset: 0;
				left: 50%;
				transform: translateX(-50%);
				position: absolute;
				height: 100%;
				width: 100vw;
				z-index: 2;
			}
		}

		@media #{$breakpoint-xs-only} {
			padding-right: 40px;
		}
	}

	// ##################################################

	&__logo {
		height: 28px;
		display: flex;
		max-width: 140px;
		position: relative;

		@media #{$breakpoint-sm-down} {
			height: 24px;
			z-index: 10;
		}

		img {
			position: relative;
			object-fit: contain;
			width: 100%;
			height: auto;
			object-position: left center;
		}

		.logo-dark {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			opacity: 0;
			pointer-events: none;
			transition: 0.3s ease;

			@media #{$breakpoint-sm-down} {
				display: none;
			}
		}

		&:hover {
			.logo-dark {
				opacity: 1;
			}
		}
	}

	&__right {
		display: flex;
		flex-wrap: wrap;
		gap: 4px;
		justify-content: flex-end;

		@media #{$breakpoint-sm-down} {
			display: none;
		}

		&-link {
			border-radius: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 36px;
			width: 36px;
			position: relative;

			&:hover {
				background-color: $cgp_gray_100;
			}

			&__number {
				position: absolute;
				background-color: $cgp_red_500;
				color: $cgp_white;
				height: 14px;
				width: 14px;
				text-align: center;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 8px;
				font-weight: 500;
				border-radius: 100%;
				top: -2px;
				right: -2px;
			}

			&__overlay {
				position: absolute;
				inset: 0;
				height: 100%;
				width: 100%;
				border-radius: 100%;
				transition: 0.3s ease;
				z-index: 1;
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;
				color: $cgp_gray_950;
				background-color: $cgp_blue_50;

				&:after {
					content: '';
					pointer-events: none;
					position: absolute;
					inset: 0;
					height: 100%;
					width: 100%;
					border-radius: 100%;
					background-color: rgba($cgp_black, 0.1);
					transition: 0.3s ease;
					opacity: 0;
				}

				&:hover {
					&:after {
						opacity: 1;
					}
				}
			}
		}
	}

	// ##################################################

	&__menu-wrapper {
		min-height: 52px;
		display: flex;
		align-items: center;

		@media #{$breakpoint-sm-down} {
			min-height: 0;
		}
	}
}

//*******************************************************************************
// MENU HAMBURGER
//*******************************************************************************

$hamburger_bar_height: 2.5px;
$hamburger_width: 24px;

.mobile-hamburger {
	margin-left: 20px;
	@extend %reset_button;
	cursor: pointer;
	z-index: 9;
	position: relative;
	width: $hamburger_width;

	@media #{$breakpoint-sm-down} {
		position: absolute;
		bottom: 0;
		right: 20px;
		height: 60px;
		width: 22px;
	}

	// ##################################################

	// Expand clickable area
	&:after {
		z-index: 9;
		@extend %content;
		transform: scale(1.5);
	}

	// ##################################################

	// Menu Bar
	.bars {
		background-color: var(--color-black);
		height: $hamburger_bar_height;
		display: block;
		border-radius: 5px;
		margin-bottom: 5px;
		width: 22px;
		transition: transform 0.3s ease;

		// ##################################################

		&:last-child {
			margin-bottom: 0;
		}

		// ##################################################

		// stylelint-disable-next-line
		.#{$class_open_menu} & {
			// stylelint-disable-next-line
			&:first-child {
				transform: translateY(7px) rotate(225deg);
			}

			// stylelint-disable-next-line
			&:nth-child(2) {
				transform: scale(0);
			}

			// stylelint-disable-next-line
			&:last-child {
				transform: translateY(-8px) rotate(315deg);
			}
		}
	}
}
